.productItem {
  padding: .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #eee;
  border-radius: 8px;
  background-color: whitesmoke;
  transition: transform 0.2s;
  height: 200px;
} 

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: .5em;
  margin: 2em 0;
}